[submodule "rengo-client"]
	path = rengo-client
	url = https://gitlab.com/xrop/rengo-client.git
[submodule "rengo-server"]
	path = rengo-server
	url = https://gitlab.com/xrop/rengo-server.git
[submodule "rengo-common"]
	path = rengo-common
	url = https://gitlab.com/xrop/rengo-common.git
