[submodule "rengo-client"]
	path = rengo-client
	url = https://github.com/nicbk/rengo-client.git
[submodule "rengo-server"]
	path = rengo-server
	url = https://github.com/nicbk/rengo-server.git
[submodule "rengo-common"]
	path = rengo-common
	url = https://github.com/nicbk/rengo-common.git
